.layout {
  display: grid;
  grid-template-columns: min-content 1.5fr 1fr;
  grid-template-rows: 1fr 1.85fr 0.15fr;
  gap: 0;
  grid-template-areas:
    'sidebar main main'
    'sidebar main main'
    'sidebar footer footer';
  height: 100dvh;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color: #302f2f;
  padding: 20px 10px;
  box-shadow: 0 0 4px #9b9999;
  position: relative;
  overflow: hidden;
}

.sidebar_body {
  transition: all 0.3s ease-in;
  width: 240px;
  overflow: hidden;
}

.sidebar__hidden {
  width: 16px;
  visibility: hidden;
}

.sidebar_icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}

.sidebar_icon__left {
  transform: rotateY(180deg);
}

.sidebar_icon__right {
  transform: rotateY(0deg);
}

.main {
  grid-area: main;
  display: grid;
  overflow-y: auto;
  min-height: 0;
  padding: 20px 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. content content content content .'
    '. content content content content .'
    '. content content content content .';
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: anchor-center;
}

.footer {
  grid-area: footer;
  background-color: #222;
  text-align: center;
  padding: 10px;
}
