* {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  color: #ffffff;
  padding: 20px;
}

body::selection {
  color: #3b3a3a;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
  color: #ffffff;
}

p {
  margin: 0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1e40af;
}

pre {
  width: 100%;
}

pre code {
  font-family: 'Fira Code', monospace;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  line-height: 2;
}

code {
  padding: 5px 10px;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  background: #302f2f;
  border-radius: 4px;
  line-height: 2;
  width: 100%;
}
